<div class="wrap" style='background-color:#C182AE; color: #000000; border-left: solid #9F1F79 4px; padding:0.7em;'>
<span>
<img src="/images/info-icon.png" height="30pt" width="30pt">
<p style='margin-top:1em; text-align:center'>
<b>Natur gärtnert mit</b></p>
<p style='margin-left:1em;  margin-bottom:1em; text-align:justify; max-width: fit-content'>
Die Bepflanzungslisten sind zur Orientierung gedacht. Es sind nicht immer alle Pflanzen im Garten zu finden.
<br>
<br>
Für aktuelle Informationen, nehmen sie gerne mit uns Kontakt auf!
</p>
</span>
</div>
