<footer class="footer">

	<div class="wrap">

		{% if site.data.settings.footer_settings.logo_images %}
		  <div class="footer__logos">
			{% for logo_image in site.data.settings.footer_settings.logo_images %}
			  <a href="{{ site.baseurl }}/" class="footer__logo">
				<img src="{{ logo_image | relative_url }}" class="footer__logo__img">
			  </a>
			{% endfor %}
		  </div>
		{% else %}
			<a href="{{ site.baseurl }}/" class="footer__title">
				{{ site.data.settings.basic_settings.site_title }}
			</a>
		{% endif %}

		<p class="footer__text">{{ site.data.settings.footer_settings.footer_tagline }}</p>

		<div class="footer__copyright">
			<span>© {{ 'now' | date: "%Y" }} {{ site.data.settings.basic_settings.site_title }}</span>
			<a href="/impressum" target="_blank">Impressum</a>
			<a href="/sitemap.xml" target="_blank">Sitemap</a>
		</div>

		{% include socials.html %}

	</div>

</footer>
