<style type="text/css" media="screen">
.inat-widget { }
.inat-label { color: #888; }
.inat-meta { font-size: smaller; margin-top: 3px; line-height: 1.2;}
.inat-observation-image {text-align: center;}
.inat-observation-image img, .inat-user-image img { max-width: 100%; }
.inat-observation-image img { vertical-align: middle; }
.inat-widget-small .inat-observation-image { display:block; float: left; margin: 0 10px 10px 0; height:75px;}
.inat-widget td.inat-user-body {vertical-align: middle;}
.inat-widget .inat-footer td.inat-val   ue {vertical-align: middle; padding-left: 10px;}
.inat-widget table {
    table-layout: auto !important;
}
.inat-widget th, .inat-widget td, .inat-widget thead th, .inat-widget tbody td, .inat-widget tfoot td, .inat-widget tfoot th {
    width: auto !important;
}
</style>
<div class="inat-widget wrap">
  <script type="text/javascript" charset="utf-8" src="https://www.inaturalist.org/observations/project/169761.widget?layout=small&limit=50&order=desc&order_by=observed_on"></script>
</div>
<div class="inat-widget">
      <p>
      <a rel="nofollow" href="https://www.inaturalist.org/observations?project_id=169761">Mehr Beobachtungen im Rosengarten auf <nobr>iNaturalist »</nobr></a>
  </p>
</div>
